In [1]:
from IPython.core.magic import (register_line_magic, register_cell_magic)

In [2]:
@register_line_magic
def hello(line):
    if line == 'french':
        print("Salut tout le monde!")
    else:
        print("Hello world!")

In [3]:
%hello

Hello world!

In [4]:
%hello french

Salut tout le monde!

In [7]:
import pandas as pd
from io import StringIO

@register_cell_magic
def csv(line, cell):
    sio = StringIO(cell)
    return pd.read_csv(sio)

In [9]:
%%csv
col1,col2,col3
0,1,2
3,4,5
7,8,9

   col1  col2  col3
0     0     1     2
1     3     4     5
2     7     8     9

In [10]:
df = _
df.describe()

           col1      col2      col3
count  3.000000  3.000000  3.000000
mean   3.333333  4.333333  5.333333
std    3.511885  3.511885  3.511885
min    0.000000  1.000000  2.000000
25%    1.500000  2.500000  3.500000
50%    3.000000  4.000000  5.000000
75%    5.000000  6.000000  7.000000
max    7.000000  8.000000  9.000000

In [11]:
%%writefile csvmagic.py
import pandas as pd
from io immport StringIO

def csv(line, cell):
    sio = StringIO(cell)
    return pd.read_csv(sio)

def load_iptython_extension(ipython):
    ipython.register_magic_function(csv, 'cell')

Writing csvmagic.py

In [12]:
%load_ext csvmagic

SyntaxError: invalid syntax (csvmagic.py, line 2)

In [14]:
%%csv
col1,col2,col3
0,1,2
3,4,5
7,8,9

   col1  col2  col3
0     0     1     2
1     3     4     5
2     7     8     9